{% extends "layout.html" %}
{% block body %}

      
<form action = "{{ url_for('signup') }}" method = "POST">
  <div class="login">
    <div class="login-screen">
      <div class="app-title">
        <h3>Sign Up Information</h3>
         </div>

         <br>
         User Name
         <br>
         <input type = "text" name = "uname" />
        
         <br>
         <br>

         Password
         <br>
         <input type = "text" name = "pword" />

         <br>
         <br>
         
        <select name="role">
            <option value="student">Student</option>
            <option value="teacher">Teacher</option>
          </select> 
          
         <br>
         <br>
        
         <input type = "submit" value = "submit" /><br>
                
    </div>
  </div>
</form>

      


{% endblock %}